# macOS .DS_Store file
.ds_store
**/.ds_store

# VSCode settings
.vscode

# Typescript config
config.typescript.sh
tsconfig.json

# Rollup config
config.rollup.sh
rollup.config.mjs

# Terser config
config.terser.sh

# Development version html file
index.dev.html

# HTML minification
config.html-minifier.sh