@mixin fa_svg() {
    #finite-automata-svg {
        width: 120%;
        max-width: 100vw;

        .node {
            &.highlighted-node {
                ellipse {
                    fill: orange;
                    stroke: black;
                }
                text {
                    fill: white;
                }
            }

            &.spotlight-node {
                ellipse {
                    fill: red;
                    stroke: black;
                }
                text {
                    fill: white;
                }
            }
        }

        .edge {
            &.highlighted-edge {
                path,
                polygon {
                    stroke: orange;
                }
                polygon {
                    fill: orange;
                }
                text {
                    fill: orange;
                }
            }

            &.spotlight-edge {
                path,
                polygon {
                    stroke: red;
                }
                polygon {
                    fill: red;
                }
                text {
                    fill: red;
                }
            }
        }
    }
}
