@import "./state_automata_svg";

@mixin fa_diagram() {
    .finite-automata-diagram {
        width: 100%;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @include fa_svg();
    }
}
